body{
    background-color: black;
    color: wheat;
    text-align: center;
}


h1{
    font-style: italic;
    font-size: 150px;
    margin-top: 80px;
}

.demo{
    width:50%;
    margin-left: 325px;
    background-color:rgb(109, 78, 78) ;
}